{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="home">
		<img src="img/Carême.png" class="img-fluid layout" alt="Responsive image">
		<section class="bg-light">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col col-lg-10 col-xl-8">
						<figure class="note note-secondary p-4">
							<blockquote class="blockquote">
								<p class="pb-2">

									{{ "now"|date("d/m/Y") }}
									{% if "now"|date("m/d/Y") == "02/09/2024" %}

										Mon chemin de Carême :
										
										   Available
									{% elseif "now"|date("m/d/Y") == "10/02/2024" %}
										Only
										{{ product.stock }}
										left!
									{% else %}
										Sold-out!
									{% endif %}

								</p>
								<p class="pb-2">
									« Le carême est un passage au désert, un temps de pause, de réflexion, de méditation. On pause, on dépose. Et l’on s’interroge sur ces trois points : le jeûne, la prière, la charité. »
								</p>
							</blockquote>
							<figcaption class="blockquote-footer mb-0">
								Frère Hervé Ponsot
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</section>
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<div class="card mb-3">
						<i class="fa-solid fa-hands-praying fa-bounce fa-2x"></i>
						<div class="card-body">
							<h5 class="card-title">La prière</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-3">
						<i class="fa-solid fa-bread-slice fa-fade fa-2x"></i>
						<div class="card-body">
							<h5 class="card-title">Le jeûne</h5>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card mb-3">
						<i class="fa-solid fa-heart fa-beat fa-2x"></i>
						<div class="card-body">
							<h5 class="card-title">La charité</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
