.event {
    .layout {
        width: 100%;
    }

    figure {
        text-align: center;
    }

    section {
        margin-bottom: 5px;
    }


    .hidden {
        opacity: 50%;
        button:active {
            display: none;
        }

    }

    .visible {
        opacity: 100%;
    }
}